.header {
    background-color: white;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    box-shadow: 0 5px 5px darkgrey;
}

.content a, #my-drop-button, #desc {
    color: #A9A9A9;
    font-size: large;
    font-weight: 700;
}

.content a:hover {
    color: black;
}
